<template>
  <div class="vote">
    <img src="./../assets/logo.png">
    <h1>Shampoo Cabelo Sedoso</h1>
    <h2 v-if="count == 0">Vote já</h2>
    <h2 v-if="error">{{error}}</h2>
    <h2 v-if="status === 'initial'">Campanha não iniciada</h2>
    <h2 v-if="status.status === true || status.status === 1">Campanha encerrada</h2>
    <div v-if="count == 0 && (status.status === false || status.status === 0)">
      <div class="space" v-for="item in votation" v-bind:key="item.id">
        <md-chip class="md-primary" @click="vote(item.id)" md-clickable>{{item.description}}</md-chip>
      </div>
    </div>
    <div v-if="count > 0" class="space">
      <div>
        <h2>Obrigado pelo seu voto!</h2>
      </div>
    </div>
    <div v-if="count > 0 && clicks > 2" class="space">
      <div>
        <h2>Você só pode votar uma vez!</h2>
      </div>
    </div>
    <div class="loading-overlay" v-if="loading">
      <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
    </div>
    <simplert :useRadius="true"
      :useIcon="true"
      ref="simplert">
    </simplert>
  </div>
</template>

<script>
import axios from 'axios'
import Simplert from 'vue2-simplert'

export default {
  name: 'Vote',
  data () {
    return {
      loading: false,
      votation: [],
      error: false,
      status: []
    }
  },
  components: {
    Simplert
  },
  computed: {
    count () {
      return this.$store.state.count
    },
    clicks () {
      return this.$store.state.clicks
    }
  },
  methods: {
    increment () {
      this.$store.dispatch('increment')
    },
    vote (item) {
      this.error = false
      this.loading = true
      axios.post('vote', { id_votation: item }).then((response) => {
        this.loading = false
        this.increment()
      }).catch(e => {
        console.log(e)
        this.loading = false
        let obj = {
          title: 'Error',
          message: 'Não foi possível votar, tente novamente!',
          type: 'info',
          customCloseBtnText: 'Fechar'
        }
        this.$refs.simplert.openSimplert(obj)
        this.error = 'Não foi possível votar, tente novamente!'
      })
    },
    getVotation () {
      this.error = false
      this.loading = true
      axios.get('votation').then((response) => {
        this.votation = response.data
        this.loading = false
      }).catch(e => {
        console.log(e)
        this.loading = false
        let obj = {
          title: 'Error',
          message: 'Não foi possível buscar as informações da campanha',
          type: 'info',
          customCloseBtnText: 'Fechar'
        }
        this.$refs.simplert.openSimplert(obj)
        this.error = 'Não foi possível buscar as informações da campanha'
      })
    },
    getStatus () {
      this.loading = true
      axios.get('status').then((response) => {
        this.loading = false
        this.status = response.data[0]
        if (this.status === undefined) {
          this.status = 'initial'
        }
      }).catch(e => {
        console.log(e)
        this.loading = false
        let obj = {
          title: 'Error',
          message: 'Não foi possível verificar se a campanha está ativa',
          type: 'info',
          customCloseBtnText: 'Fechar'
        }
        this.$refs.simplert.openSimplert(obj)
      })
    }
  },
  created () {
    this.getStatus()
    this.getVotation()
    this.$store.dispatch('incrementClicks')
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.space{
  padding-top: 10px;
}
.loading-overlay {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
