<template>
  <div class="dashboard">
    <h1>Dashboard</h1>
    <div>
      <md-content v-if="status === 'initial' || (status.status === false || status.status === 0)" class="md-elevation-1">
        <div v-if="status === 'initial'">
          <small>Iniciar Campanha</small>
          <md-button @click="setStart()" class="md-raised md-primary">Iniciar Campanha</md-button>
        </div>
        <div v-if="status.status === false || status.status === 0">
          <small>Uma vez a campanha encerrada não poderá ser ativada novamente</small>
          <md-button @click="setClose()" class="md-raised md-accent">Encerrar Campanha</md-button>
        </div>
      </md-content>
    </div>
    <div style="padding-top: 20px">
      <md-content class="md-elevation-1">
        <div>
          <small>Quantidade em tempo real</small>
          <br>
          <md-card v-for="vote in votes" v-bind:key="vote.id">
            <md-card-header>
              <md-card-header-text>
                <div class="md-title">{{vote.qt}}</div>
                <div class="md-subhead">{{vote.description}}</div>
              </md-card-header-text>
            </md-card-header>
          </md-card>
        </div>
      </md-content>
    </div>
    <div style="padding-top: 20px">
      <md-content class="md-elevation-1">
        <!-- <small>Descrimine a quantidade de votos por hora em um relatório gráfico</small> -->
        <apexchart type="line" height="300" width="600" :options="chartOptions" :series="series"></apexchart>
      </md-content>
    </div>
    <div class="loading-overlay" v-if="loading">
      <md-progress-spinner md-mode="indeterminate" :md-stroke="2"></md-progress-spinner>
    </div>
    <simplert :useRadius="true"
      :useIcon="true"
      ref="simplert">
    </simplert>
  </div>
</template>

<script>
import axios from 'axios'
import Simplert from 'vue2-simplert'

export default {
  name: 'DashBoard',
  data () {
    return {
      loading: false,
      votes: [],
      status: [],
      chartOptions: {
        chart: {
          id: 'votos de hoje'
        },
        xaxis: {
          categories: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
        }
      },
      series: []
    }
  },
  components: {
    Simplert
  },
  methods: {
    setStart () {
      this.loading = true
      axios.post('status', { status: false }).then((response) => {
        this.loading = false
        this.status = response.data
      }).catch(e => {
        console.log(e)
        this.loading = false
        let obj = {
          title: 'Error',
          message: 'Não foi possível encerrar a campanha',
          type: 'info',
          customCloseBtnText: 'Fechar'
        }
        this.$refs.simplert.openSimplert(obj)
      })
    },
    setClose () {
      this.loading = true
      axios.post('status', { id: 1, status: true }).then((response) => {
        this.loading = false
        this.getStatus()
      }).catch(e => {
        console.log(e)
        this.loading = false
        let obj = {
          title: 'Error',
          message: 'Não foi possível encerrar a campanha',
          type: 'info',
          customCloseBtnText: 'Fechar'
        }
        this.$refs.simplert.openSimplert(obj)
      })
    },
    getStatus () {
      this.loading = true
      axios.get('status').then((response) => {
        this.loading = false
        this.status = response.data[0]
        if (this.status === undefined) {
          this.status = 'initial'
        }
      }).catch(e => {
        console.log(e)
        this.loading = false
        let obj = {
          title: 'Error',
          message: 'Não foi possível verificar se a campanha está ativa',
          type: 'info',
          customCloseBtnText: 'Fechar'
        }
        this.$refs.simplert.openSimplert(obj)
      })
    },
    getVotes () {
      this.loading = true
      axios.get('resumevotes').then((response) => {
        this.loading = false
        this.votes = response.data
      }).catch(e => {
        console.log(e)
        this.loading = false
        let obj = {
          title: 'Error',
          message: 'Não foi possível atualizar a quantidade de votos',
          type: 'info',
          customCloseBtnText: 'Fechar'
        }
        this.$refs.simplert.openSimplert(obj)
      })
    },
    getGraph () {
      this.loading = true
      axios.get('graph').then((response) => {
        this.loading = false
        this.series = response.data
      }).catch(e => {
        console.log(e)
        this.loading = false
        let obj = {
          title: 'Error',
          message: 'Não foi possível atualizar o grágico',
          type: 'info',
          customCloseBtnText: 'Fechar'
        }
        this.$refs.simplert.openSimplert(obj)
      })
    },
    loadData () {
      this.getStatus()
      this.getVotes()
      this.getGraph()
    }
  },
  created () {
    this.loadData()
    setInterval(() => {
      this.loadData()
    }, 5000)
  }
}
</script>

<style scoped>
.md-content {
  width: 600px;
  height: 350px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.loading-overlay {
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
